.start {
  background-color: #f6f5f5;

  .content {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    min-height: 100vh;
    padding: 20px 20px;
    .sign {
      .header {
        padding: 10px;
        border-bottom: 2px solid #7b95ba;
        h1 {
          text-align: center;
          color: #7b95ba;
          font-size: 36px;
        }
      }
      .body{
        padding:  30px  ;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      .footer{
        padding: 0 30px;
        display: flex;
        gap: 20px;
        justify-content: end;
        .btn{
          width: 50%;
          height: 45px;
        }
      }
      .banner{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        span{
          height: 2px;
          width: 50px;
          background-color: #7b95ba;
        }
      }
    }
  }
}
