.hero{
  .exchange{
    padding: 0 10px;
    width: 100%;
    .content{
      overflow: hidden;
      width: 100%;
      padding: 15px 10px;
      background-color: #fff;
      border-radius: 5px ;
      box-shadow: rgba(100, 100, 111, 0.079) 0px 7px 29px 0px;
      .rate{
        width: 100%;
        animation: scroll-left 10s linear infinite; /* Animasiyanı tənzimləyir */

      /* Mətni hərəkət etdirmək üçün animasiya */
      @keyframes scroll-left {
        0% {
          transform: translateX(-100%); /* Mətni ekranın sol xaricindən başlayır */
        }
        100% {
          transform: translateX(100%); /* Mətni ekranın sağ xaricinə keçir */
        }
      }
      }
    }
  }
}