.hero {
  background-color: #f6f5f5;
  height: 100vh;
  overflow: hidden;
  .content {
    height: 100vh;
    display: flex;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
    .left {
      width: 50%;
      img {
        width: 100%;
      }
    }
    .right {
      padding: 80px 40px;
      background-color: #fff;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      .head {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
          font-size: 40px;
          color: #7B95BA;
        }
        p{
            color: #7B95BA;
            font-size: 20px;
            padding : 20px 0;
            border-top: 2px solid #7B95BA;
        }
      }
      .buttons{
        display: flex;
        gap: 10px;

      }
    }
  }
}
