.NewsPage{
    background-color: #fff;
    min-height: 100vh;
    border-bottom: 2px solid #2F3C54;
    .head{
        height: 60px;
        width: 100%;
        background-color: #2F3C54;
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: white;
        border-bottom: 2px solid white;
        h5{
            margin-right: 10px;
        }
        span{
            height: 100%;
            padding: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;
            cursor: pointer;

        }
    }
}