footer {
    background-color: #fff;
    padding: 0px 0;
    margin-top: 20px;
    .info{
      background-color: white;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      padding: 30px 10px;
      display: flex;
      flex-direction: column;
      gap: 3px;
      text-align: center;
      span span{
        color: #1976D2;
      }
      a{
        color: #1976D2;
        text-decoration: none;
      }
    }
  }
  