.cardList{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    @media only screen and (min-width: 1650px) {
          width: 70%;
      }
    .card{
        padding: 10px;
        width: calc(100% / 4);
        @media screen and (max-width : 750px){
            width: calc(100% / 3);
        }
        @media screen and (max-width : 570px){
            width: calc(100% / 2);
        }
        @media screen and (max-width : 370px){
            width: calc(100% / 1);
        }
    }
}