.edit {
  padding-bottom: 70px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lang {
      height: 60px;
      background-color: white;
      display: flex;
      align-items: center;
      color: #2f3c54;
      border-bottom: 2px solid white;
      h5 {
        margin-right: 10px;
      }
      span {
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
      }
    }
    .listBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
    }
    .link {
      color: #2f3c54;
      text-decoration: none;
    }
  }
  .block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h3 {
      width: 100%;
      border-bottom: 2px solid black;
      padding-bottom: 5px;
    }
    .quill {
      height: 300px;
      margin-bottom: 40px;
    }
    .imageInp {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 1px solid rgb(217, 217, 217);
      border-radius: 7px;
      label {
        width: 100%;
        padding: 10px 10px;
        border-radius: 5px;
        border: 1px solid grey;
        background-color: #2f3c54;
        color: white;
        cursor: pointer;
      }
    }
    .images {
      padding: 10px;
      border-radius: 5px;
    }
    .deleteImg {
      cursor: pointer;
      margin-top: 5px;
      background-color: brown;
      padding: 5px 0;
      border-radius: 5px;
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .categories {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .select {
        width: 100%;
      }
    }
    .tags {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: text;
      .inp {
        border: 1px solid grey;
        padding: 10px 0;
      }
    }
    .btn {
      background-color: #2f3c54;
      color: white;
    }
  }
}
